@import './ButtonVariable';

.ui_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 30px;
  font-weight: bold;
  background-color: $color-white;
  border: none;
  border-radius: $border-radius-small;
  cursor: pointer;
}

.btn_gray {
  color: $color-white;
  background-color: $color-gray;
  border: 1px solid transparent;

  @media screen and (min-width: 640px) {
    &:hover {
      color: $color-black;
      background-color: $color-white;
      border: 1px solid $color-gray;
    }
  }
}

.btn_icon {
  padding: 0;
  border: 1px solid $color-gray-light;

  @media screen and (min-width: 640px) {
    &:hover {
      background-color: $color-gray;
      border: 1px solid $color-gray;
    }
  }
}

.btn_circle_blue {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  color: $color-white;
  font-size: inherit;
  background-color: $color-cyan;
  border-radius: 50%;

  &:hover {
    background-color: $color-cyan-dark;
  }
}

.btn_white_blue {
  font-size: inherit;

  &:hover {
    color: $color-white;
    background-color: $color-cyan;
  }
}

.btn_white_gray {
  font-size: inherit;

  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
}
