@import 'style/variable';

.notes_group {
  max-width: 96%;
  margin: auto;
  column-count: 3;
  column-gap: 10px;
}

.notes_group__item {
  break-inside: avoid;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid $color-gray-light;
  border-radius: $border-radius-medium;
}
