section {
    text-align: center;
}

label {
    display: block;
}

input {
    min-width: 400px;
}

.inputs {
    margin: 0 auto;
    max-width: 460px;
    display: flex;
    flex-direction: column
}

.inputs button {
    margin-top: 15px;
}