@import 'variable';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: $color-cyan-dark $color-cyan;
  scrollbar-width: thin;
}

li {
  list-style: none;
}

body {
  font-family: $font-family-main;
}

.active {
  background-color: $color-cyan-light;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-cyan-dark;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: $color-cyan;
}

::-webkit-scrollbar-corner {
  background-color: $color-cyan;
}
