@import './UIButtonVariable';

.ui_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: $color-white;
  border-radius: $border-radius-small;
  cursor: pointer;
}

.ui_btn_basket {
  width: 30px;
  height: 32px;
  background-image: url('./img/basket_gray.svg');
  border: 1px solid $color-gray-light;

  @media screen and (min-width: 640px) {
    &:hover {
      background-color: $color-gray;
      background-image: url('./img/basket_white.svg');
      border: 1px solid $color-gray;
    }
  }
}

.ui_btn_search {
  width: 100%;
  max-width: 20%;
  height: 30px;
  color: $color-white;
  font-weight: bold;
  background-color: $color-gray;
  border: none;

  &:hover {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-gray;
  }
}

.ui_btn_add_new_note {
  position: fixed;
  top: 50%;
  right: 25%;
  z-index: 5;
  width: 60px;
  height: 60px;
  color: $color-white;
  font-size: 40px;
  background-color: $color-cyan;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: $color-cyan-dark;
  }
}

.ui_btn_create,
.ui_btn_cancel {
  padding: 8px 14px;
  border: none;
}

.ui_btn_create {
  margin-right: 10px;
  color: $color-white;
  background-color: $color-cyan;

  &:hover {
    background-color: $color-cyan-dark;
  }
}

.ui_btn_cancel {
  background-color: $color-gray-light;

  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
}
