@import 'style/variable';

.category {
  margin-bottom: -1px;
  border: 1px solid $color-gray;
  cursor: pointer;
  @include flex-between();

  &__btn_child {
    width: 40px;
    margin-left: 5px;
  }

  &__name {
    width: 100%;
    color: $color-cyan-dark;
  }

  &__btns {
    width: 80px;
    margin-right: 5px;
    @include flex-between();
  }
}
