@import 'style/variable';

.category {
  margin-bottom: -1px;
  border: 1px solid $color-gray;
  cursor: pointer;

  &__link {
    text-decoration: none;
    @include flex-between();
  }

  &__btn_child {
    min-width: 20px;
    margin-left: 5px;
  }

  &__name {
    width: 100%;
    padding: 3px 0;
    overflow-x: auto;
    color: $color-cyan-dark;
    word-wrap: break-word;
  }

  &__btns {
    min-width: 80px;
    margin-right: 5px;
    margin-left: 3px;
    @include flex-between();
  }
}
