@import 'style/variable';

.ui_input {
  padding: 0 5px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-repeat: no-repeat;
  border: 1px solid $color-cyan-dark;
  border-radius: $border-radius-small;
  content: '';
}

.checkbox:checked + label::before {
  background-color: $color-cyan-dark;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: 1px;
  background-size: 14px;
  border-color: $color-cyan-dark;
}
