@import 'style/variable';

.edit {
  width: 100%;
  height: 100%;

  &_form {
    @include flex-between();

    input {
      width: 100%;
      height: 30px;
      margin-bottom: -1px;
      padding: 0 5px;
    }

    button {
      height: 29px;
      border-radius: 0;
    }
  }
}
