@import './../../../../style/variable';

.item__header {
  margin-bottom: 4px;
  color: $color-gray;
  font-size: 24px;
}

.item__text {
  margin-bottom: 14px;
  font-size: 14px;
}

.item__panel {
  display: flex;
  justify-content: flex-end;
}

.item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 32px;
  background-color: transparent;
  background-image: url('./img/basket_gray.svg');
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  cursor: pointer;

  @media screen and (min-width: 640px) {
    &:hover {
      background-color: $color-gray;
      background-image: url('./img/basket_white.svg');
      border: 1px solid $color-gray;
    }
  }
}
