@import 'style/variable';

.item__header {
  margin-bottom: 4px;
  font-size: 22px;
}

.item__text {
  margin-bottom: 14px;
  font-size: 14px;
}

.item__panel {
  display: flex;
  justify-content: flex-end;
}

.overflow {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
