.main__body {
  .card {
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: $white;
    border: 1px solid $gray-transp;
    -webkit-box-shadow: 2px 2px 6px 3px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 2px 2px 6px 3px rgba(34, 60, 80, 0.15);
    box-shadow: 2px 2px 6px 3px rgba(34, 60, 80, 0.15);

    &__header {
      @include flex-between;
      margin: 0 10px;

      &_status {
        color: $link-color;
        font-weight: bold;
        text-transform: uppercase;
      }

      &_date {
        margin-left: auto;
        margin-right: 15px;
        font-size: 12px;
        color: $gray;
      }

      &_btn {
        padding: 2px 10px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        border: none;
        border-radius: 4px;
      }

      .btn-new {
        background-color: $link-color;
      }

      .btn-viewed {
        background-color: $gray;
      }
    }

    &__heading {
      margin: 5px 10px;
      font-size: 24px;
      font-weight: bold;
      color: $black;
    }

    &__company {
      display: flex;
      align-items: center;
      margin: 0 10px;
      font-weight: bold;

      &_name {
        margin-right: 5px;
        color: $black;
      }

      &_name.upper {
        text-transform: uppercase;
      }

      &_status {
        padding: 0 10px;
        font-size: 12px;
        text-transform: uppercase;
        color: $link-color;
        border: 1px solid $link-color;
        border-radius: 5px;
      }
    }

    &__position {
      margin: 5px 10px;
      font-size: 14px;
      color: $black;

      span {
        color: $gray;
      }
    }

    &__body {
      font-size: 12px;
      line-height: 16px;
      color: $link-color;

      &_text {
        padding: 0 10px 10px;
        border-bottom: 1px solid $gray-transp;
      }

      &_block {
        padding: 10px 10px 0;

        h4 {
          text-decoration: underline;
        }

        p {
          margin-left: 16px;
        }
      }
    }

    &__bottom {
      margin-top: 10px;

      @media screen and (min-width: 750px) {
        display: flex;
        flex-direction: row-reverse;
      }

      button {
        cursor: pointer;
        display: block;
        padding: 8px 10px;
        width: 100%;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-top: 1px solid $gray-transp;
        background-color: $body-background-color;

        @media screen and (min-width: 750px) {
          text-align: center;
          border-right: 1px solid $gray-transp;
        }
      }

      @media screen and (min-width: 750px) {
        button:first-child {
          border-right: none;
        }
      }

      .fa-phone,
      .fa-exclamation-circle,
      .fa-times {
        width: 14px;
        margin-right: 5px;
      }

      .fa-phone {
        transform: scale(-1, 1);
      }
    }
  }
}
