.main__header {
  .project-list {
    display: flex;
    align-items: center;

    .fa-angle-left {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  .project {
    &__heading {
      font-size: 20px;
      font-weight: bold;

      .fa-plus-circle,
      .fa-minus-circle {
        cursor: pointer;
        font-size: 16px;
      }

      .fa-minus-circle {
        display: none;
      }
    }

    &__checkbox {
      opacity: 0;
    }

    &__checkbox:checked ~ .project__heading > label > .fa-minus-circle {
      display: inline-block;
    }

    &__checkbox:checked ~ .project__heading > label > .fa-plus-circle {
      display: none;
    }

    &__checkbox:checked ~ .project__body  {
      display: block;
    }

    &__body {
      display: none;
      margin-top: 6px;
      color: $gray;
      transition-duration: 0.25s;

      &_row {
        @include flex-start-between ;
        padding: 6px 0;
        color: $black;
        font-weight: bold;
        border-top: 1px solid rgba(111, 111, 111, 0.4);

        span {
          width: 46%;
          color: $gray;
          font-weight: normal;
          text-align: right;
          letter-spacing: -0.6px;
        }
      }
    }
  }

  .tabs {
    @include flex-between;
    position: relative;
    margin-top: 15px;
    width: 100%;

    .tab,
    .tab-title {
      width: 100%;
      display: inline-block;
    }

    .tab input[type="radio"] {
      display: none;
    }

    .tab-title {
      @include flex-center;
      background-color: $gray-dark;
      padding: 10px 10px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid $gray-dark;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom: none;

      .fa-flag,
      .fa-phone {
        margin-left: 6px;
        color: $link-color;
      }

      .fa-phone {
        transform: scale(-1, 1);
      }
    }

    .tab-content {
      display: none;
      position: absolute;
      left: 0;
      padding: 10px;
      width: 100%;
      // width: calc(100% - 20px);
      border: 1px solid rgba(111, 111, 111, 0.4);
      border-top: none;
     }

    .tab :checked + .tab-title {
      position: relative;
      z-index: 1;
      background-color: $body-background-color;
      border: 1px solid rgba(111, 111, 111, 0.4);
      border-bottom: none;
    }

    .tab :checked ~ .tab-content {
      display: block;
    }

  }
}
