.main {
  padding: 10px 20px;
  height: 100%;
  color: $gray;
  background-color: $body-background-color;
  min-width: 360px;
  overflow-y: scroll;

  @media screen and (min-width: 750px) {
    padding: 10px 30px;
  }
}
