.main__header {
  margin-top: 60px;

  @media screen and (min-width: 750px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.project-list {
  display: flex;
  align-items: center;

  .fa-angle-left {
    margin-right: 10px;
    font-size: 20px;
  }
}

.project {
  &__heading {
    font-size: 20px;
    font-weight: bold;

    .fa-plus-circle,
    .fa-minus-circle {
      cursor: pointer;
      font-size: 16px;
    }

    .fa-minus-circle {
      display: none;
    }
  }

  &__checkbox {
    opacity: 0;
  }

  &__checkbox:checked ~ .project__heading > label > .fa-minus-circle {
    display: inline-block;
  }

  &__checkbox:checked ~ .project__heading > label > .fa-plus-circle {
    display: none;
  }

  &__checkbox:checked ~ .project__body  {
    display: block;
  }

  &__body {
    display: none;
    margin-top: 6px;
    color: $gray;
    transition-duration: 0.25s;

    @media screen and (min-width: 1200px) {
      margin-top: 16px;
      margin-bottom: 25px;
    }

    &_wrapper {
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

       .project__body_column {
         width: 49%;
       }
      }
    }

    &_row {
      @include flex-start-between ;
      padding: 6px 0;
      color: $black;
      font-weight: bold;
      border-top: 1px solid $gray-transp;

      span {
        width: 46%;
        color: $gray;
        font-weight: normal;
        text-align: right;
        letter-spacing: -0.6px;
      }
    }
  }
}

.tabs {
  @include flex-between;
  position: relative;
  z-index: 1;
  margin-top: 15px;
  width: 100%;
}

.tab,
.tab-title {
  width: 100%;
  display: inline-block;
}

.tab {
  min-height: 160px;

  @media screen and (min-width: 750px) {
    min-height: 114px;
  }
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  @include flex-center;
  background-color: $gray-dark;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid $gray-dark;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: none;

  .fa-flag,
  .fa-phone {
    margin-left: 6px;
    color: $link-color;
  }

  .fa-phone {
    transform: scale(-1, 1);
  }
}

.tab :checked + .tab-title {
  position: relative;
  z-index: 1;
  background-color: $body-background-color;
  border: 1px solid $gray-transp;
  border-bottom: none;
}

.tab :checked ~ .tab-content {
  display: block;
}

.tab-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 10px;
  width: 100%;
  min-height: 112px;
  border: 1px solid $gray-transp;
  border-top: none;

  @media screen and (min-width: 750px) {
    min-height: 66px;
  }
}
.tab-one__btns {
  @include flex-between;
  flex-wrap: wrap;
  margin-top: 5px;

  @media screen and (min-width: 750px) {
    flex-wrap: nowrap;
  }

  .fa-filter {
    margin-right: 5px;
    font-size: 12px;
   }

  img {
    width: 15px;
    margin-right: 5px;
  }
}

.form-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  padding: 10px 0;
  font-size: 13px;
  letter-spacing: -0.2px;
  width: 29%;
  height: 38px;
  text-transform: uppercase;
  border: 1px solid $gray-transp;
  border-radius: 5px;
  background: -webkit-linear-gradient(bottom, #f2f2f2, #dbdbdb);
  background: -moz-linear-gradient(bottom, #f2f2f2, #dbdbdb);
  background: linear-gradient(to bottom, #f2f2f2, #dbdbdb);

  @media screen and (min-width: 750px) {
    width: 50%;
  }
}

.form-btn:focus {
  outline: 1px solid transparent;
  border: 1px solid $link-color;
}

.form-btn:nth-child(2) {
  @include flex-center;
}

.form-btn:last-child {
  margin-right: 0;
}

.btn-filter {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 0;
  height: 38px;
  border-left: hidden;
  overflow: visible
}

.btn-filter::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -10px;
  z-index: -1;
  width: 22px;
  height: 22px;
  transform: rotate(45deg) skew(10deg, 10deg);
  border-left: 0.5px solid  $gray-transp;
  border-bottom: 0.5px solid  $gray-transp;
  background: -webkit-linear-gradient(bottom, #f2f2f2, #dbdbdb);
  background: -moz-linear-gradient(bottom, #f2f2f2, #dbdbdb);
  background: linear-gradient(to bottom, #f2f2f2, #dbdbdb);
}

.btn-filter:focus {
  outline: 1px solid transparent;
  border: 1px solid $link-color;
  border-left: hidden;
}

.btn-filter:focus::before {
  outline: 1px solid transparent;
  border-left: 1px solid $link-color;
  border-bottom: 1px solid $link-color;
}

@media screen and (min-width: 750px) {
  .btn-filter {
    order: 1;
  }

  .btn-excel {
    max-width: 120px;
    position: absolute;
    top: -93px;
    right: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-excel {
    position: absolute;
    top: -93px;
    right: -10px;
  }
}

.tab-one__select {
  cursor: pointer;
  display: block;
  padding-left: 10px;
  width: 100%;
  height: 38px;
  font-size: 12px;
  color: $gray;
  border: 1px solid $gray-transp;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  option {
    color: $gray;
    background-color: $white;
  }

  option[selected] {
    padding-left: 10.6rem;
  }

  option:checked {
    color: $white;
    background-color: $link-color;
  }
}

.tab-one__select-block {
  position: relative;
  margin-top: 10px;
  width: 100%;

  @media screen and (min-width: 750px) {
    margin-top: 0;
    margin-right: 8px;
  }
}

.tab-one__select-block::after {
  @include flex-center;
  content: "▼";
  font-size: 12px;
  position: absolute;
  background-color: $white;
  right: 2px;
  top: 2px;
  z-index: 5;
  width: 20px;
  height: 34px;
  pointer-events: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  appearance: none;
}

@media screen and (min-width: 750px) {
  .project__checkbox:checked ~ .tabs > .tab > .tab-content > form > .tab-one__btns > .btn-excel  {
    position: absolute;
    top: -347px !important;
    right: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .project__checkbox:checked ~ .tabs > .tab > .tab-content > form > .tab-one__btns > .btn-excel  {
    position: absolute;
    top: -243px !important;
    right: -10px;
  }
}
