/* By Athlon Front-End Team */
html,
body {
  height: 100%;
}

@media screen and (min-width: 750px) {
  body {
    display: flex;
    align-items: flex-start;
  }
}

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
@import 'header.scss';
@import 'main.scss';
@import 'main-header';
@import 'main-body';

/* Browser specific styles */
@import 'dirty/hacks';
