$color-white: #fff;
$color-black: #000;
$color-light: #f4f4f4;
$color-gray: #838282;
$color-gray-light: #ccc;

$font-family-main: sans-serif;

$mobile-max: 640px;

$border-radius-input: 4px;
