$color-white: #fff;
$color-black: #000;
$color-light: #f4f4f4;
$color-gray: #838282;
$color-gray-light: #ccc;
$color-cyan: #2ab7f0;
$color-cyan-dark: #007fc9;
$color-error: #facad4;
$color-error-dark: #f85b7d;

$font-family-main: sans-serif;

$mobile-max: 640px;

$border-radius-medium: 10px;
$border-radius-small: 4px;

$font-size-input-header: 24px;
