@import 'style/variable';

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 75%);
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 150px;
  padding: 20px;
  background-color: $color-white;
  border-radius: $border-radius-small;
  transform: translate(-50%, -50%);
}

.modal__question {
  color: $color-cyan-dark;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.modal__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
