:root {
    --color-white:#ffffff;
    --color-black:#000000;
    --color-blue-dark:#596577;
    --color-gray-dark:#8c8787;
    --color-gray-medium:#e2e2e2;
    --color-gray-light:#f6f6f6;
    --color-gray:#999a9c;
    --color-orange-dark:#f9921b;
    --color-green-dark:#b5cb2c;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Arial", sans-serif;
}

.color-black {
    color: #000;
    color: var(--color-black);
}

.color-white {
    color: #fff;
    color: var(--color-white);
}

.overflow-four {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
