.footer {
    margin-top: 26px;
    height: 122px;
    background-image: url("../images/footer_bg.jpg");
    background-repeat: repeat-x;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding-right: 170px;
    padding-bottom: 5px;
    padding-left: 38px;
    height: 100%;
    margin: 0 auto;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 458px;
}

.footer__list a {
    position: relative;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #f9921b;
    color: var(--color-orange-dark);
}

.footer__list li:not(:last-child) a::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -13px;
    height: 10px;
    border-right: 2px solid #f9921b;
    border-right: 2px solid var(--color-orange-dark);
}

.footer__list .active {
    color: #b5cb2c;
    color: var(--color-green-dark);
}

.footer__list a:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
}

.footer__copyright {
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #596577;
    color: var(--color-blue-dark);
}