.main-header {
    position: relative;
    width: 100%;
}

.main-header hr {
    position: absolute;
    top: 23px;
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 0.5px solid #596577;
    border-bottom: 0.5px solid var(--color-blue-dark);
}

.main-header__wrapper {
     width: 1000px;
     height: 118px;
     margin: 0 auto;
     padding-top: 48px;
     padding-left: 30px;
     background-image: url('../images/growth_bg.jpg');
 }

.main-header__heading {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #596577;
    color: var(--color-blue-dark);
}

.main-header__text {
    margin-top: 2px;
    color: #999a9c;
    color: var(--color-gray);
}
/* ====main-body==== */
.main-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 0;
    padding: 0 30px;
}

.main-body__articles {
    width: 70%;
}

.main-body__articles_hot {
    margin-bottom: 41px;
}

.main-body__articles_hot h2 {
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #8c8787;
    color: var(--color-gray-dark);
}

.main-body__articles_hot h2 span {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    color: var(--color-black);
}

.main-body__articles_hot h3 {
    cursor: pointer;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.9px;
    word-spacing: 0.6px;
    text-transform: uppercase;
    color: #f9921b;
    color: var(--color-orange-dark);
}

.main-body__articles_hot h3:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
    transform: all 300ms ease;
}

.main-body__articles_hot p {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #596577;
    color: var(--color-blue-dark);
}

.main-body__articles_hot_more {
    cursor: pointer;
    margin-top: 23px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    background-image: url('../images/green_dot.jpg');
    background-repeat: no-repeat;
    background-position: 0.9px;
}

.main-body__articles_hot_more:hover {
    background-image: url('../images/orange_dot.jpg');
    transform: all 300ms ease;
}

.main-body__articles_hot_more a {
    color: #f9921b;
    color: var(--color-orange-dark);
    text-decoration: none;
}

.main-body__articles_hot_more a:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
    text-decoration: none;
    transform: all 300ms ease;
}

.main-body__articles_list h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.main-body__articles_list p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #596577;
    color: var(--color-blue-dark);
}

.main-body__articles_list_news {
    margin-top: 25px;
}

.list_news {
    display: flex;
}

.list_news:first-child {
    margin-bottom: 27px;
}

.list_news_img {
    margin-right: 20px;
}

.list_news_content {
    width: 85%;
}

.list_news_content h3 {
    cursor: pointer;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 13px;
    color: #f9921b;
    color: var(--color-orange-dark);
}

.list_news_content h3:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
    transform: all 300ms ease;
}

.list_news_content p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #596577;
    color: var(--color-blue-dark);
}

.list_news_more {
    cursor: pointer;
    margin-top: 22px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    background-image: url('../images/green_dot.jpg');
    background-repeat: no-repeat;
    background-position: 0.9px;
}

.list_news_more:hover {
    background-image: url('../images/orange_dot.jpg');
    transform: all 300ms ease;
}

.list_news_more a {
    color: #f9921b;
    color: var(--color-orange-dark);
    text-decoration: none;
}

.list_news_more a:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
    transform: all 300ms ease;
}
