/*===LOGIN===*/
.main-body__sidebar {
    width: 27%;
}

.main-body__sidebar_login {
    position: relative;
    padding-top: 32px;
    padding-left: 18px;
    padding-bottom: 21px;
    background-color: #f6f6f6;
    background-color: var(--color-gray-light);
    border: 1px solid #e2e2e2;
    border: 1px solid var(--color-gray-medium);
    border-radius: 10px;
}

.main-body__sidebar_login img {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 254px;
}

.main-body__sidebar_login h2 {
    position: absolute;
    font-size: 24px;
    text-transform: uppercase;
    color: #b5cb2c;
    color: var(--color-green-dark);
}

.form {
    margin-top: 58px;
}

.form label {
    display: block;
    margin-left: 28px;
    margin-bottom: 9px;
    font-size: 11px;
    color: #8c8787;
    color: var(--color-gray-dark);
}

.form label span {
    color: #f9921b;
    color: var(--color-orange-dark);
}

.form label:first-child {
    position: absolute;
    top: 71px;
    left: 18px;
}

.form input {
    display: flex;
    align-items: center;
    width: 185px;
    height: 24px;
    margin-left: 16px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-left: 11px;
    font-size: 11px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 2px 2px 1px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 2px 2px 1px 0px rgba(34, 60, 80, 0.2) inset;
}

.form__btn {
    cursor: pointer;
    margin: 3px 0 16px 16px;
    padding: 5px 19px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    color: var(--color-white);
    background: -webkit-linear-gradient(180deg, rgb(244, 145, 28), rgb(213, 117, 3) 50%);
    background: -moz-linear-gradient(180deg, rgb(244, 145, 28), rgb(213, 117, 3) 50%);
    background: linear-gradient(180deg, rgb(244, 145, 28), rgb(213, 117, 3) 50%);
    border: none;
    border-radius: 14px;
    outline: none;
}

.form__btn:hover {
    color: #000000;
    color: var( --color-black);
    background: -webkit-linear-gradient(180deg, rgb(252, 252, 242), rgb(166, 164, 163));
    background: -moz-linear-gradient(180deg, rgb(252, 252, 242), rgb(166, 164, 163));
    background: linear-gradient(180deg, rgb(252, 252, 242), rgb(166, 164, 163));
    transform: all 300ms ease;
}

.form__descript {
    cursor: pointer;
    margin-left: 16px;
    margin-bottom: 9px;
    padding-left: 10px;
    font-size: 11px;
    color: #8c8787;
    color: var(--color-gray-dark);
    background-image: url('../images/orange_dot.jpg');
    background-repeat: no-repeat;
    background-position: 0.9px;
}

.form__descript:hover {
    color: #f9921b;
    color: var(--color-orange-dark);
    background-image: url('../images/green_dot.jpg');
}

/*===NEWS===*/

.main-body__sidebar_articles {
    position: relative;
    margin-top: 8px;
    padding-top: 40px;
    background-color: #f6f6f6;
    background-color: var(--color-gray-light);
    border: 1px solid #e2e2e2;
    border: 1px solid var(--color-gray-medium);
    border-radius: 10px;
}

.news__img {
    position: absolute;
    top: -1px;
    left: -1px;
}

.main-body__sidebar_articles  h2 {
    position: absolute;
    margin-left: 63px;
    font-size: 24px;
    font-weight: bold;
    color: #f9921b;
    color: var(--color-orange-dark);
}

.news__img {
    width: 254px;
}

.news__wrapper {
    margin-top: 50px;
    margin-left: 52px;
}

.news__wrapper h3 {
    position: relative;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #b5cb2c;
    color: var(--color-green-dark);
    text-transform: uppercase;
}

.news__wrapper h3::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -34px;
    width: 24px;
    height: 26px;
    background-image: url('../images/green_right.jpg');
    background-repeat: no-repeat;
}

.news__wrapper p {
    font-size: 13px;
    line-height: 15px;
    color: #596577;
    color: var(--color-blue-dark);
}

.news__more {
    cursor: pointer;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 11px;
    background-image: url('../images/orange_dot.jpg');
    background-repeat: no-repeat;
    background-position: 0.9px;
}

.news__more:hover {
    background-image: url('../images/green_dot.jpg');
    transform: all 300ms ease;
}

.news__more a {
    color: #f9921b;
    color: var(--color-orange-dark);
    text-decoration: none;
}

.news__more a:hover {
    color: #b5cb2c;
    color: var(--color-green-dark);
    transform: all 300ms ease;
}

.news__item {
    margin-bottom: 28px;
}