:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #706f6f;
  --color-light-gray: #d4d4d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../img/space.jpg');
  background-repeat: no-repeat;
  background-color: var(--color-black);
}

button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-white);
}

button:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.btn-main-start {
  position: absolute;
  padding: 15px 30px;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

canvas {
  border: 2px solid var(--color-white);
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.75);
}

.btns-services-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  height: 25px;
}

.btns-services {
  position: relative;
  top: -10px;
  z-index: 1;
  align-items: center;
}

.btns-services button {
  margin-left: 10px;
  padding: 10px 25px;
  font-size: 20px;
}

.modal-registration-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-registration {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 200px;
  color: var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-white);
}

.modal-registration label {
  display: block;
  margin-top: 10px;
}

.modal-registration input {
  width: 100%;
  height: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

.modal-registration select {
  width: 100%;
  height: 20px;
}

.form-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.modal-registration button {
  padding: 5px 15px;
  font-size: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
}

.btn-info {
  padding: 5px 20px;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.modal-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-info img {
  position: absolute;
  top: calc(50% - 245px);
  left: calc(50% - 225px);
  width: 450px;
  height: 520px;
}

.hidden {
  display: none;
}