@import 'style/variable';

.edit {
  width: $mobile-max;
  margin: auto;
  padding: 15px 0;

  &__wrapper {
    margin-top: 20px;
    @include flex-start();
  }

  &__categories {
    width: 35%;
    height: 80vh;
    overflow-y: auto;
    color: $color-gray;

    &_item {
      margin-bottom: -1px;
      padding: 0 10px;
      border: 1px solid $color-gray;
      @include flex-between();

      &_name {
        width: 100%;
      }

      &_active {
        color: $color-cyan-dark;
      }
    }
  }

  &__heading {
    height: 50px;
    color: $color-cyan-dark;
  }

  &__task {
    width: 63%;
    height: 80vh;
    overflow-y: auto;

    &_btns_wrapper {
      @include flex-justify-end();
    }

    &_btns {
      width: 34%;
      @include flex-between();
    }

    &_input {
      margin-top: 20px;

      input {
        width: 300px;
        height: 30px;
        padding: 0 5px;
      }
    }

    &_check {
      margin-top: 25px;
    }

    &__description {
      width: 100%;
      height: 40vh;
    }
  }
}

.checkbox_edit {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox_edit + label::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-repeat: no-repeat;
  border: 1px solid $color-cyan-dark;
  border-radius: $border-radius-small;
  cursor: pointer;
  content: '';
}

.checkbox_edit:checked + label::before {
  background-color: $color-cyan-dark;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: 1px;
  background-size: 14px;
  border-color: $color-cyan-dark;
}
